In [245]:
import pandas as pd 
import numpy as np

In [246]:
data=pd.read_csv('spam.csv')

In [247]:
print(data)

            Category                                            Message
0                ham  Go until jurong point, crazy.. Available only ...
1                ham                      Ok lar... Joking wif u oni...
2               spam  Free entry in 2 a wkly comp to win FA Cup fina...
3                ham  U dun say so early hor... U c already then say...
4                ham  Nah I don't think he goes to usf, he lives aro...
...              ...                                                ...
5568             ham               Will Ã¼ b going to esplanade fr home?
5569             ham  Pity, * was in mood for that. So...any other s...
5570             ham  The guy did some bitching but I acted like i'd...
5571             ham                         Rofl. Its true to its name
5572  {"mode":"full"                                    isActive:false}

[5573 rows x 2 columns]

In [248]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [249]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5573 entries, 0 to 5572
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5573 non-null   object
 1   Message   5573 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [250]:
data.columns

Index(['Category', 'Message'], dtype='object')

In [251]:
data.shape#(rows,cloumns)

(5573, 2)

In [252]:
data['Category']=data['Category'].map({'ham':0, 'spam':1})

In [253]:
data.drop([],axis=1,inplace=True)

In [254]:
data.head()

   Category                                            Message
0       0.0  Go until jurong point, crazy.. Available only ...
1       0.0                      Ok lar... Joking wif u oni...
2       1.0  Free entry in 2 a wkly comp to win FA Cup fina...
3       0.0  U dun say so early hor... U c already then say...
4       0.0  Nah I don't think he goes to usf, he lives aro...

In [255]:
from sklearn.feature_extraction.text import CountVectorizer

In [256]:
from sklearn.model_selection import train_test_split

In [257]:
X=data['Message']
Y=data['Category']

In [258]:
X.shape

(5573,)

In [259]:
Y.shape

(5573,)

In [260]:
data.isnull().sum()

Category    1
Message     0
dtype: int64

In [261]:

# Drop rows where the 'Category' column is NaN
data = data.dropna(subset=['Category'])

In [262]:
data.isnull().sum()

Category    0
Message     0
dtype: int64

In [263]:
data.to_csv('cleaned_file.csv', index=False)

In [264]:
cv=CountVectorizer()

In [265]:
from sklearn.feature_extraction.text import CountVectorizer

# Assuming 'Message' is the column containing the text
X = data['Message']

# Initialize CountVectorizer
cv = CountVectorizer(stop_words='english')

# Fit and transform the text data (X) to create a feature matrix
X_transformed = cv.fit_transform(X)

# You can check the shape of the transformed data
print(X_transformed.shape)

(5572, 8440)

In [266]:
X=cv.fit_transform(X)

In [267]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split

# Assuming 'Category' is the target variable (spam or not)
y = data['Category']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, test_size=0.2, random_state=42)

# Initialize and train the Naive Bayes model
model = MultinomialNB()
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Check accuracy
from sklearn. metrics import accuracy_score
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.9811659192825112

In [271]:
msg = "You won 500$"
data = [msg]
vec = cv.transform(data).toarray()
my_prediction = model.predict(cv.transform([msg]).toarray())
# my_prediction = model.predict(vec)

In [272]:
vec

array([[0, 0, 0, ..., 0, 0, 0]])

In [273]:
import pickle
pickle.dump(model,open('spam123.pkl','wb'))

pickle.dump(cv,open('vec123.pkl','wb'))